# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Discuss the importance of development environments in Data Science.
- Explore methods for creating tables in Jupyter Notebook.
- Provide examples of converting units and expressing calculations in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

|Data Science Tools|
|-----------------------|
| Jupyter Notebooks     |
| RStudio               |
| Visual Studio Code    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Clinton Wasonga